---
import { getCollection, render } from 'astro:content'
import Post from '../../layouts/Post.astro'

export async function getStaticPaths() {
  const notes = await getCollection('notes', ({ data }) => data.draft !== true)

  return notes.map((note) => ({
    params: { slug: note.id },
    props: { note },
  }))
}

const { note } = Astro.props

const { Content } = await render(note)
---

<Post>
  {note.data.title && <h1>{note.data.title}</h1>}

  <Content />
</Post>
