@font-face {
  font-family: 'Uncut Sans Variable';
  src: url('./UncutSans-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uncut Sans Variable';
  src: url('./UncutSans-Variable.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uncut Sans Variable';
  src: url('./UncutSans-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Uncut Sans Variable';
  src: url('./UncutSans-Variable.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
