---
import Base from '../layouts/Base.astro'

const constants = [
  {
    name: 'Trung',
    desc: 'Đọc thanh ngang',
    chars: [
      ['ก', '/k/'],
      ['จ', '/ch/'],
      ['ด', '/đ/'],
      ['ฎ', '/đ/'],
      ['ต', '/t/'],
      ['ฏ', '/t/'],
      ['บ', '/b/'],
      ['ป', '/p/'],
      ['อ', '/o/'],
    ],
  },
  {
    name: 'Cao',
    desc: 'Đọc thanh hỏi',
    chars: [
      ['ข', '/kh/'],
      ['ฉ', "/ch'/"],
      ['ฐ', "/th'/"],
      ['ถ', "/th'/"],
      ['ผ', '/p/'],
      ['ฝ', '/ph/'],
      ['ศ', '/x/'],
      ['ษ', '/x/'],
      ['ส', '/x/'],
      ['ห', '/h/'],
    ],
  },
  {
    name: 'Thấp đôi',
    desc: 'Đọc thanh ngang',
    chars: [
      ['ค', '/kh/'],
      ['ฆ', '/kh/'],
      ['ช', "/ch'/"],
      ['ฌ', "/ch'/"],
      ['ฑ', "/th'/"],
      ['ฒ', "/th'/"],
      ['ท', "/th'/"],
      ['ธ', "/th'/"],
      ['พ', "/p'/"],
      ['ภ', "/p'/"],
      ['ฟ', '/ph/'],
      ['ซ', '/x/'],
      ['ฮ', '/h/'],
    ],
  },
  {
    name: 'Thấp đơn',
    desc: 'Đọc thanh ngang',
    chars: [
      ['ณ', '/n/'],
      ['น', '/n/'],
      ['ม', '/m/'],
      ['ล', '/l/'],
      ['ฬ', '/l/'],
      ['ง', '/ng/'],
      ['ร', '/r/'],
      ['ว', '/w/'],
      ['ย', '/d/'],
      ['ญ', '/d/'],
    ],
  },
]

const rowNumber = Math.max(...constants.map((group) => group.chars.length))
const items = []

for (let i = 0; i < rowNumber; i++) {}
---

<Base>
  <article>
    <span></span>

    <div class="tableContainer">
      <table>
        <caption>Nhóm phụ âm</caption>
        <tbody>
          <tr>
            <th scope="row">
              <strong>Trung (9)</strong>
              <p>Đọc thanh ngang</p>
            </th>
            <td>
              <p lang="th">ก</p>
              <p>/k/</p>
            </td>
            <td>
              <p lang="th">จ</p>
              <p>/ch/</p>
            </td>
            <td>
              <p lang="th">ด</p>
              <p>/đ/</p>
            </td>
            <td>
              <p lang="th">ฎ</p>
              <p>/đ/</p>
            </td>
            <td>
              <p lang="th">ต</p>
              <p>/t/</p>
            </td>
            <td>
              <p lang="th">ฏ</p>
              <p>/t/</p>
            </td>
            <td>
              <p lang="th">บ</p>
              <p>/b/</p>
            </td>
            <td>
              <p lang="th">ป</p>
              <p>/p/</p>
            </td>
            <td>
              <p lang="th">อ</p>
              <p>/o/</p>
            </td>
          </tr>

          <tr>
            <th scope="row">
              <strong>Cao (10)</strong>
              <p>Đọc thanh hỏi</p>
            </th>
            <td>
              <p lang="th">ข</p>
              <p>/kh/</p>
            </td>
            <td>
              <p lang="th">ฉ</p>
              <p>/ch'/</p>
            </td>
            <td>
              <p lang="th">ฐ</p>
              <p>/th'/</p>
            </td>
            <td>
              <p lang="th">ถ</p>
              <p>/th'/</p>
            </td>
            <td>
              <p lang="th">ผ</p>
              <p>/p/</p>
            </td>
            <td>
              <p lang="th">ฝ</p>
              <p>/ph/</p>
            </td>
            <td>
              <p lang="th">ศ</p>
              <p>/x/</p>
            </td>
            <td>
              <p lang="th">ษ</p>
              <p>/x/</p>
            </td>
            <td>
              <p lang="th">ส</p>
              <p>/x/</p>
            </td>
            <td>
              <p lang="th">ห</p>
              <p>/h/</p>
            </td>
          </tr>

          <tr>
            <th scope="row">
              <strong>Thấp đôi (13)</strong>
              <p>Đọc thanh ngang</p>
            </th>
            <td>
              <p lang="th">ค</p>
              <p>/kh/</p>
            </td>
            <td>
              <p lang="th">ฆ</p>
              <p>/kh/</p>
            </td>
            <td>
              <p lang="th">ช</p>
              <p>/ch'/</p>
            </td>
            <td>
              <p lang="th">ฌ</p>
              <p>/ch'/</p>
            </td>
            <td>
              <p lang="th">ฑ</p>
              <p>/th'/</p>
            </td>
            <td>
              <p lang="th">ฒ</p>
              <p>/th'/</p>
            </td>
            <td>
              <p lang="th">ท</p>
              <p>/th'/</p>
            </td>
            <td>
              <p lang="th">ธ</p>
              <p>/th'/</p>
            </td>
            <td>
              <p lang="th">พ</p>
              <p>/p'/</p>
            </td>
            <td>
              <p lang="th">ภ</p>
              <p>/p'/</p>
            </td>
            <td>
              <p lang="th">ฟ</p>
              <p>/ph/</p>
            </td>
            <td>
              <p lang="th">ซ</p>
              <p>/x/</p>
            </td>
            <td>
              <p lang="th">ฮ</p>
              <p>/h/</p>
            </td>
          </tr>

          <tr>
            <th scope="row">
              <strong>Thấp đơn (10)</strong>
              <p>Đọc thanh ngang</p>
            </th>

            <td>
              <p lang="th">ณ</p>
              <p>/n/</p>
            </td>
            <td>
              <p lang="th">น</p>
              <p>/n/</p>
            </td>
            <td>
              <p lang="th">ม</p>
              <p>/m/</p>
            </td>
            <td>
              <p lang="th">ล</p>
              <p>/l/</p>
            </td>
            <td>
              <p lang="th">ฬ</p>
              <p>/l/</p>
            </td>
            <td>
              <p lang="th">ง</p>
              <p>/ng/</p>
            </td>
            <td>
              <p lang="th">ร</p>
              <p>/r/</p>
            </td>
            <td>
              <p lang="th">ว</p>
              <p>/w/</p>
            </td>
            <td>
              <p lang="th">ย</p>
              <p>/d/</p>
            </td>
            <td>
              <p lang="th">ญ</p>
              <p>/d/</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>

  <style>
    p[lang='th'] {
      font-size: 2.5em;
    }

    caption {
      font-weight: 700;
      text-align: left;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    td,
    th {
      font-weight: 400;
      border: 1px solid #aaa;
      padding: 0.5em;
      text-align: left;

      & p {
        word-break: keep-all;
        white-space: nowrap;
      }
    }

    .tableContainer {
      container-type: inline-size;
      overflow: auto;
    }
  </style>
</Base>
