---
import Base from './Base.astro'

const notes = await Astro.glob('../pages/notes/*.md')
---

<Base>
  <slot />

  <h2>Notes</h2>
  <ul>
    {
      notes.map((note) => (
        <li>
          <a href={note.url}>
            {note.file.substring(note.file.lastIndexOf('/'))}
          </a>
        </li>
      ))
    }
  </ul>
</Base>
