@import './normalize.css';
@import '/fonts/fonts.css';

:where(html) {
  color-scheme: light;

  --link: var(--yellow-10);
  --link-visited: var(--sand-8);

  --text-1: var(--stone-10);
  --text-2: var(--stone-7);

  --surface-1: var(--stone-0);
  --surface-2: var(--stone-2);
}

@media (prefers-color-scheme: dark) {
  :where(html) {
    color-scheme: dark;

    --link: var(--jungle-3);
    --link-visited: var(--sand-2);

    --text-1: var(--stone-1);
    --text-2: var(--stone-4);

    --surface-1: var(--stone-10);
    --surface-2: var(--stone-8);
  }
}

:root {
  --font-sans: 'Work Sans', 'Mali', system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
  --font-mono: 'Jetbrains Mono', Dank Mono, Operator Mono, Inconsolata,
    Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro,
    monospace;

  --size-content-3: 70ch;
}

body {
  text-rendering: optimizeSpeed;
  background-color: var(--surface-1);
  color: var(--text-1);
}

:where(a) {
  color: var(--link);

  &:visited {
    color: var(--link-visited);
  }

  &:hover {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1.5px;
  }
}

.nav {
  max-inline-size: var(--size-content-3);
  margin-inline: auto;
}

.container {
  padding: var(--size-3);
  max-inline-size: var(--size-content-3);
  margin-inline: auto;

  :is(blockquote) {
    border-inline-start: var(--size-2) solid var(--text-2);
    padding: var(--size-2) var(--size-2) var(--size-2) var(--size-3);
    background-color: var(--surface-2);
  }

  :is(img),
  :is(video) {
    max-width: 100%;
  }
}

.flow > * + * {
  margin-block-start: 1em;
}

/* Utilities */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-3 {
  gap: var(--size-3);
}

.align-center {
  align-items: center;
}
