---
import Base from './Base.astro'
---

<Base>
  <style is:global>
    pre.astro-code {
      max-inline-size: 100%;
      padding: var(--size-3);
    }
  </style>
  <main class="content">
    <slot />
  </main>
</Base>
